{% load otree %}

{% block title %}
  謝礼の計算について
{% endblock %}

{% block content %}
  <div id="common-info">
    <p>
      慈善団体への寄付にご協力いただきありがとうございます。
    </p>
    <p>
      これから、コンピュータ上で11ラウンドからランダムに2ラウンドを取り出します。
      各ラウンドの報酬の合計が本日の謝礼になります。
      各ラウンドの報酬は<b>寄付しなかった分のコイン</b>と<b>寄付したコインの一部の返金</b>の合計となります。
    </p>
    <p>
      寄付したコインについての一部返金は以下のように決まります。
      選択した寄付額に寄付額を決めていただく際に提示しました比率を乗じた額を返金させていただきます。
      ただし、<b>我々が返金する分の寄付を負担させていだきますので、慈善団体に寄付する額に変わりはありません</b>。
    </p>
    <p>
      例：寄付額が100コイン・提示比率が40%の場合、100×0.5=40コインを返金させていただきます。我々が返金する40コインを負担して、慈善団体に100コインを寄付します。
    </p>
  </div>
  {{ if opt_in }}
  <div id="opt-in">
    <p>
      返金を受けたい方は次ページの申請フォームで、
      寄付額を決めていただいた際にコンピュータ上で発行された受領書IDを<b>正確に</b>入力してください。
      正しい受領書IDが確認されない限り、返金は受けられません。
    </p>
    <p>
      返金を受けたいかどうかは各ラウンドの寄付ごとに選択できます。
      返金を受けたくないラウンドがある場合、受領書IDの入力は不要でございます。
    </p>
  </div>
  {{ endif }}
  <div id="confirm">
    <p>
      確認したら、以下の「次へ」ボタンを押してください。
    </p>
  </div>
  {% next_button %}
{% endblock %}