{% load otree %}

{% block title %}
  慈善団体への寄付にご協力いただきありがとうございます
{% endblock %}

{% block content %}
  <div id="common-info">
    <p>
      これから、コンピュータ上で11ラウンドからランダムに2ラウンドを取り出します。
      各ラウンドの報酬の合計が本日の謝礼になります。
      各ラウンドの報酬は<b>寄付しなかった分のコイン</b>と<b>寄付したコインの一部の返金</b>の合計となります。
    </p>
  </div>
  {{ if opt_in }}
  <div class="alert alert-danger" role="alert" id="opt-in">
    <p>
      ただし、寄付したコインの一部の返金を受け取るためには、ご自身で申請していただく必要があります。
      返金を受けたい方は次ページの申請フォームで、
      コンピュータ上で発行された受領書IDを<b>正確に</b>入力してください。
    </p>
    <p>
      正しい受領書IDが確認されない限り、返金は受けられません。
      この場合、ラウンドの報酬は寄付しなかった分のコインだけとなります。
    </p>
    <p>
      返金を受けたいかどうかは各ラウンドの寄付ごとに選択できます。
      返金を受けたくないラウンドがある場合、受領書IDの入力は不要でございます。
    </p>
  </div>
  {{ endif }}
  <div id="confirm">
    <p>
      確認したら、以下の「次へ」ボタンを押してください。
    </p>
  </div>
  {% next_button %}
{% endblock %}