{% block title %}
  あなたの選択
{% endblock %}

{% block content %}
    <div id="current-situation">
      <p>
        現在、あなたは<b>{{ player.endowment }}</b>を持っています。
        あなたはその一部を社会貢献事業に寄付できます。
        以下に、社会貢献事業の内容を紹介します。
      </p>
    </div>
    <div id="about-charity">
      <p>
        <b>（ここに財団の説明）</b>
      </p>
    </div>
    <div id="form">
      <p>
        あなたは<b>{{ player.endowment }}</b>のうち、いくらまでなら寄付をしても良いですか？
      </p>
    </div>

    {% formfields %}
    {% next_button %}
{% endblock %}
