{{ extends 'global/Experiment.html' }}

{% block title %}
  あなたの選択
{% endblock %}

{% block content %}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
    <div id="current-situation">
      <p>
        現在、あなたは<b>{{ player.endowment }}コイン</b>を持っています。
        あなたはその一部を慈善団体に寄付できます。
      </p>
    </div>
    <div id="about-charity" class="alert alert-secondary" role="alert">
      <p>
        寄付先は、<b>日本赤十字社</b>です。
        赤十字は、「人の命を尊重し、苦しみの中にいる者は、敵味方の区別なく救う」ことを目的とし、
        世界191の国と地域に広がる赤十字・赤新月社のネットワークを生かして活動する組織です。
      </p>
      <p>
        日本赤十字社はそのうちの一社であり、<b>国内外における災害救護</b>をはじめ、
        <b>復興支援や疾病予防など苦しむ人を救う</b>ために幅広い分野で活動しています。
      </p>
      <p>
        あなたの温かいご支援をどうぞよろしくお願いいたします。
      </p>
      <p>
        詳しくは
        <a href="https://www.jrc.or.jp/" target="_blank" rel="noopener noreferrer">日本赤十字社のホームページ</a>
        をご確認ください。
      </p>
    </div>
    <div id="form">
      <p>
        あなたは<b>{{ player.endowment }}コイン</b>のうち、いくらまでなら寄付をしても良いですか？
      </p>
    </div>

    {% formfields %}
    {% next_button %}
{% endblock %}
