{{ extends 'global/Experiment.html' }}

{% block title %}
  ラウンド情報
{% endblock %}

{% block content %}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
  <div id="your-info" class="alert alert-primary" role="alert">
    <b>あなたについて</b>
    <ul>
      <li>あなたは<b>{{ player.endowment }}コイン</b>を保有しています</li>
      <li>あなたは、寄付額の<b>{{ your_rebate }}%</b>を実験者が負担して、その分だけ返金を受けられます</li>
    </ul>
  </div>
  <div id="partner-info" class="alert alert-secondary" role="alert">
    <b>パートナーについて</b>
    <ul>
      <li>パートナーは<b>{{ partner_coin }}コイン</b>を保有しています</li>
      <li>パートナーは、寄付額の<b>{{ partner_rebate }}%</b>を実験者が負担して、その分だけ返金を受けられます</li>
    </ul>
  </div>
  {{ if group.reveal }}
  <br>
    <div id="observer-role" style="text-align: center;">
      {{ if player.observer }}
        <h3>パートナーはあなたの寄付額を確認できません</h3>
      {{ else }}
        <h3>パートナーはあなたの寄付額を確認できます</h3>
      {{ endif }}
    </div>
  <br>
  {{ endif }}
  <div id="confirm">
    <p>
      確認したら、以下の「次へ」ボタンを押してください。
    </p>
  </div>

  {% next_button %}
{% endblock %}