{% load otree %}

{% block title %}
  ラウンド情報
{% endblock %}

{% block content %}
  <div id="your-info">
    <b>あなたについて</b>
    <ul>
      <li>あなたは<b>{{ player.endowment }}コイン</b>を保有しています</li>
      <li>あなたは、寄付額の<b>{{ partner_rebate }}%</b>を実験者が負担して、その分だけ返金を受けるチャンスがあります</li>
    </ul>
  </div>
  <div id="partner-info">
    <b>パートナーについて</b>
    <ul>
      <li>パートナーは<b>{{ partner_coin }}コイン</b>を保有しています</li>
      <li>パートナーは、寄付額の<b>{{ partner_rebate }}%</b>を実験者が負担して、その分だけ返金を受けるチャンスがあります</li>
    </ul>
  </div>
  <div id="confirm">
    <p>
      確認したら、以下の「次へ」ボタンを押してください。
    </p>
  </div>

  {% next_button %}
{% endblock %}